* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #f9f9f9;
}
.wrapper {
	width: 1065px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 50px;
}
/****************HEADER**************/
.header {
	width: 100%;
}
.logo {
	color: #323232;
	font-size: 40px;
	font-family: System;
	font-weight: bold;
}
.menu {
	width: 100%;
	background-color: #535252;
	margin-top: 40px;
}
.menu_list {
	display: flex;
}
.menu_items {
	list-style: none;
	margin-right: 15px;
	margin-left: 10px;
}
.menu_link {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	display: block;
	height: 40px;	
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.menu_link-active {
	background-color: #353535;
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
}
/****************CONTENT***********/
.conteiner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 40px; 
}
.nav {
	width: 25%;
}
.article {
	width: 70%;
}
.nav_item {
	list-style: none;
	border-top: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	height: 40px;
	padding: 10px 24px;	
}
.nav_menu:last-child {
	border-bottom: 1px solid #c8c8c8;
}
.nav_link {
	font-size: 15px;
	text-decoration: none;
	color: #656363;			
}
.nav_item-active {
	background-color: #f9f9f9;
	padding-left: 50px;
}
.nav_link-active {
	color: #000;
}
.picture {
	border: 1px solid #c8c8c8;
	width: 100%;
	display: flex;
	padding: 60px 0;
}
.photo {
	margin: auto;
}
.description {
	padding: 25px;
	margin-top: 15px;
	font-size: 16px;
}

/**************FOOTER************/
.footer {
	margin-top: 63px;
	width: 100%;
	background-color: #e1e1e1;
	display: flex;
	justify-content: space-between;
}
.footer_items {
	list-style: none;
	margin-right: 15px;
	margin-left: 10px;
	display: inline-block;
}
.footer_link {
	text-decoration: none;
	color: #444444;
	font-size: 15px;
	display: block;
	height: 40px;	
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.footer_link-active {
	text-decoration: underline;
}
.copyright {
	color: #444444;
	padding: 10px;
}
/*****************FLOAT***********/
.header-float {
	margin-top: 20px;
	width: 100%;
}
.menu-float {
	width: 100%;
	background-color: #535252;
}
.menu_items-float {
	list-style: none;
	margin-right: 15px;
	margin-left: 10px;
	float: left;
	height: 40px;
	color: #fff;
	padding: 10px 16px;
}
.menu-float:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/***************INLINE-BLOCK******/
.header-inline {
	margin-top: 20px;
	width: 100%;
}
.menu-inline {
	width: 100%;
	background-color: #535252;
	font-size: 0;
}
.menu_items-inline {
	list-style: none;
	margin-right: 15px;
	margin-left: 10px;
	display: inline-block;
	height: 40px;
	color: #fff;
	padding: 10px 16px;
	font-size: 16px;
}
